<div class = "settings_news_block">
<h2><span class="page_label"><%= t('jurnalo.forgot_password.label') %></span></h2>

<div class = "about">
<%= t('jurnalo.forgot_password.instruction') %><br />
<br />
<% form_tag password_resets_path do %>
  <div class= 'adv_search_lines'>
    <div class="clearfix">
      <%= text_field_tag "email", params[:email], :class => "settings_field_right" %>
      <span><%= label_tag :email, t('jurnalo.register.email') %>:</span>
    </div>
    <%= submit_tag t('jurnalo.forgot_password.button'), :class => "confirmation_button" %>
    </div>
<% end %>
</div>
</div>