<% content_for :custom_javascript do %>
  <%= observe_field( "user_show_upgrade_page_false", :function => "window.open('#{new_account_path}', '_self');" ) %>
  <%= observe_field( "user_payment_method_invoice", :function => "window.open('#{power_signup_path( :id => :invoice)}', '_self');")%>
<% end %>
<div class='news_group'>
  <div class='settings_news_block'>
    <h2><span class="page_label"><%= t('jurnalo.register.title') %></span></h2>   
  </div>
</div>
<% form_for @user, :url => power_signup_path( :id => :paypal ) do |f| %>
  <div class='about'>
    <h2>
	  <div class = "basic_option">
        <%= f.radio_button( 'show_upgrade_page', 'false' ) %> 		
        <%= t('account.basic.label') %>  (<%= t('account.basic.cost') %>) <br>
        <%= t('account.basic.info') %> 	
      </div>
	<br/>
      <div>
        <%= f.radio_button( 'show_upgrade_page', 'true' ) %> 
        <%= link_to t('account.power.label'), power_plan_account_path %> (<%= t('account.power.cost') -%>)<br/>
        <%= t('account.power.info') %><br><span>(<%= link_to t('more.info'), power_plan_account_path %>)</span>
      </div>
      

    </h2>
  </div>
  <div class='thin_settings_news_block'>
    <h2><span class="page_label"> <%= t('jurnalo.register.enter_info') %></span></h2>
    <div class='about'>
      <%= f.error_messages %>
      <%= render :partial => 'users/jurnalo_user', :object => f %>
    </div>
  </div>
  <div class='thin_settings_news_block about'>
    <h2><span class="page_label"> <%= t('jurnalo.pay.options.label') %></span></h2>
    <div>
      <%= f.radio_button( 'payment_method', 'paypal' ) %>
      <b><%= t('jurnalo.pay.by_paypal.label') %></b><br/>
    </div><br/>
    <div class="basic_option">
      <%= f.radio_button( 'payment_method', 'invoice' ) %> 
      <b><%= t('jurnalo.pay.by_invoice.label') %></b><br/>
      <%= t('jurnalo.pay.by_invoice.info') %>
    </div>
  </div>
  <div class='thin_settings_news_block'>
    <div class='about'>
      <%= show_simple_captcha( :object => "user", :image_style => 'blue', :distortion => 'high', :label => t('jurnalo.register.captcha'), :class => 'settings_field' ) %>
      <br>
      <%= f.hidden_field( :terms_and_conditions_accepted ) %>
      <%= f.submit t('navigation.top.register'), :class => 'confirmation_button' %>
    </div>
  </div>
<% end %>