<h2><span class="page_label"><%= t('jurnalo.pay.by_paypal.choose_plan') %></span></h2>
<form action="<%= PayPalWPSToolkit::Credentials.action_url %>" method="post">
  <div class='about'>
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="<%= PayPalWPSToolkit::Credentials.hosted_button_id %>">
    <h2><input type="hidden" name="on0" value="Jurnalo Power Plan"><%= t( 'jurnalo.power.label' ) %>
    <br><br>
	<span>
      <select name="os0">
        <option value="1 month">1 <%= t( 'shared.month' )%> €3,95</option>
        <option value="3 months">3 <%= t( 'shared.months' )%> €9,95</option>
        <option value="6 months">6 <%= t( 'shared.months' )%> €17,95</option>
        <option value="12 months">12 <%= t( 'shared.months' )%> €29,95</option>
      </select>
    </span>
    </h2>
    <input type="hidden" name="on1" value="Jurnalo User Id">
    <input type="hidden" name="os1" value="<%= @user.id %>">
    <input type="hidden" name="on2" value="Subscription Status">
    <input type="hidden" name="os2" value="Upgrade">
    <input type="hidden" name="currency_code" value="EUR">
    <br/>
    <span>
      <input type="image" src="<%= PayPalWPSToolkit::Credentials.button_image( I18n.locale ) %>" border="0" name="submit" alt="<%= t('jurnalo.pay.by_paypal.button_title') %>">
      <img alt="" border="0" src="<%= PayPalWPSToolkit::Credentials.button_pixel( I18n.locale ) %>" width="1" height="1">
    </span>
  </div>
</form>