<% content_for :custom_javascript do %>
  <%# observe_field( "user_payment_method_invoice", :function => "window.open('#{power_upgrade_path( :id => :invoice)}', '_self');")%>
<% end %>
<div class='settings_news_block'>
  <h2><span class="page_label"><%= t('account.power.upgrade.label') -%></span></h2>
  <div class = "about">
     <%= link_to t('account.power.label'), power_plan_account_path %> (<%= t('account.power.cost') -%>)<br/>
        <%= t('account.power.info') %><br><span>(<%= link_to t('more.info'), power_plan_account_path %>)</span>
  </div>
</div>
<% if false #commenting the block of code %>
<div class='thin_settings_news_block'>
  <h2><span class="page_label"> <%= t('jurnalo.pay.options.label') %></span></h2>
  <% form_for( @user ) do |f| %>
  <div>
    <%= f.radio_button( 'payment_method', 'paypal' ) %>
    <b><%= t('jurnalo.pay.by_paypal.label') %></b>
  </div><br/>
  <div class = "basic_option">
    <%= f.radio_button( 'payment_method', 'invoice' ) %> 
    <b><%= t('jurnalo.pay.by_invoice.label') %></b><br/>
    <%= t('jurnalo.pay.by_invoice.info') %>
  </div>
  <% end %>
</div>
<% end %>
<br/><br/>
<div class='thin_settings_news_block'>
  <%= render :partial => 'upgrades/paypal_form' %>
</div>