<% content_for :custom_javascript do %>
  <script type='text/javascript'>
    Event.observe($('prefs'), 'mouseover', showMouseOvers );
    Event.observe($('prefs'), 'mouseout', hideMouseOvers );
  </script>
<% end %>
<div class='news_block'>
		<div class = "reading_list_label">
			<h2><span class="page_label"><%= t('navigation.top.settings') %> > <%= t('navigation.main.my_authors', :prefix => my_or_user) %></span></h2>
		</div>
</div>

<% @author_preferences.each do | author_preference | %>
<div class='my_authors_block'><h2>
  <div class='listed_rater'>
    <% form_id = "author_preference_#{author_preference.id}" %>
    <% content_for :custom_javascript do %>
      <%= observe_form( form_id, :function => "$('#{form_id}').submit();" )%>
    <% end %>
    <% form_for( author_preference, :url => user_author_preference_path( @user, author_preference ), :html => { :id => form_id, :class => 'inline_form' } ) do |f| %>
      <%= f.check_box( :subscribed ) %> <%= t('prefs.labels.subscribe') %>
    <% end %> - 
    <%= render_thumbs_rating_form( author_preference ) %>
  </div>
  <span><%= author_preference.author.name %></span>
</h2></div>
<% end %>

<br />
<%= will_paginate @author_preferences %>