<div class='news_group'>
  <div class='news_block'>
    <h2><%= t('jurnalo.register.title') %></h2>
    <div>
      <%= t('jurnalo.register.benefits.body') %>
    </div>
  </div>
</div>
<div class='news_group'>
  <% form_for @user, :url => account_path do |f| %>
    <div class='news_block'>
      <%= t('jurnalo.register.enter_info') %><br/>
      <%= f.error_messages %>
      <% unless @user.third_party? %>
        <%= render :partial => 'jurnalo_user', :object => f %>
      <% else %>
        <%= render :partial => 'third_party_user', :object => f %>  
      <% end %>
    </div>
    <div class='news_block'>
      <h2>Choose your account:</h2>
      <div>
        <%= radio_button_tag( 'account', 'basic', true ) %> 
        <%= t('account.basic.label') %> (<%= t('account.basic.cost') %>)<br/>
        <%= t('account.basic.info') %> (<%= link_to t('more.info') %>)
      </div>
      <div>
        <%= radio_button_tag( 'account', 'power', false, :disabled => true ) %> 
        <%= t('account.power.label') %> ( <%= t('account.power.cost') -%>)<br/>
        <%= t('account.power.info') %> ( <%= link_to t('more.info') %>)
      </div>
    </div>
    <div class='news_block'>
      <%= f.check_box :terms_and_conditions_accepted %>
      <%= f.label :terms_and_conditions_accepted, t('jurnalo.register.accept_tac') %>
      <% unless @user.third_party? %>
        <br/>
        <%= show_simple_captcha( :object => "user", :image_style => 'charcoal_grey', :distortion => 'medium', :label => t('jurnalo.register.captcha') ) %>
      <% end %>
    </div>
    <%= f.submit t('navigation.top.register'), :class => 'adv_searchbutton' %>
  <% end %>
</div>