<% content_for :custom_javascript do %>
  <%= observe_field( "user_show_upgrade_page_true", :function => "window.open('#{power_signup_path( :id => :paypal)}', '_self');" ) %>
<% end %>
<div class='news_group'>
  <div class='settings_news_block'>
    <h2><span class="page_label"><%= t('jurnalo.register.title') %></span></h2>   
  </div>
</div>
<% form_for @user, :url => account_path do |f| %>
  
<div class ="about">
	<div class='thin_settings_news_block'>
    <br><%= t('jurnalo.login.facebook') %>&nbsp;
    <a class="fb_button fb_button_large" rel="nofollow" onclick="facebook_onlogin();return false" href="<%= @facebook_login_url %>" ><span class="fb_button_text"><%= t('jurnalo.login.fb_button') %></span></a>
  </div>
</div>
  <br/>
  <div class='thin_settings_news_block'>
  <h2><span class="page_label"> <%= t('jurnalo.register.enter_info') %></span></h2>
  <div class='about'>
      <%= f.error_messages %>
      <% unless @user.third_party? %>
        <%= render :partial => 'jurnalo_user', :object => f %>
      <% else %>
        <%= render :partial => 'third_party_user', :object => f %>  
      <% end %>
  </div>
  </div>
  <div class='thin_settings_news_block'>
    <div class='about'>
      <% unless @user.third_party? %>
      <%= show_simple_captcha( :object => "user", :image_style => 'blue', :distortion => 'high', :label => t('jurnalo.register.captcha'), :class => 'settings_field' ) %>
      <% end %>
      <br>
      <%= f.hidden_field( :terms_and_conditions_accepted ) %>
      <%= f.submit t('navigation.top.register'), :class => 'confirmation_button' %>
    </div>
  </div>
<% end %>
