<div class='settings_news_block'>
<h2>	<span class="page_label"><%= t('navigation.top.settings') %> > <%= t('navigation.main.account_details') %> </span></h2>
<br>
<% form_for @user, :url => user_path(@user) do |f| %>
  <%= f.error_messages %>
  <% unless @user.third_party? %>
    <%= render :partial => 'jurnalo_user', :object => f %>
  <% else %>
    <%= render :partial => 'third_party_user', :object => f %>  
  <% end %>


  <%= f.submit "Update", :class => "confirmation_button" %>

<% end %>
</div>
<br/><br/>
<div class='settings_news_block'>
  <h2><span class="page_label">Current Plan:</span></h2>
	<div class = "about">
 <h2> <%= link_to t('account.basic.label') %> (<%= t('account.basic.cost') %>)<br/>
  <%= t('account.basic.info') %> (<%= link_to t('more.info') %>)</h2>
	</div>
</div>
  <div class='settings_news_block'>
    <h2><span class="page_label">Upgrade to:</span></h2>
	<div class = "about">
   <h2> <%= link_to t('account.power.label') %> (<%= t('account.power.cost') -%>)
    <%= t('account.power.info') %> (<%= link_to t('more.info') %>)</h2>
	</div>
	<div class='settings_news_block'> </div>
  </div>


