<div class='news_block'>
<h2>Account Details</h2>
<% form_for @user, :url => user_path(@user) do |f| %>
  <%= f.error_messages %>
  <% unless @user.third_party? %>
    <%= render :partial => 'jurnalo_user', :object => f %>
  <% else %>
    <%= render :partial => 'third_party_user', :object => f %>  
  <% end %>
  <br/>
  <%= f.submit "Update" %>
<% end %>
<div class='news_block'>
  <h3>Current Plan</h3>
  <%= link_to t('account.basic.label') %> (<%= t('account.basic.cost') %>)<br/>
  <%= t('account.basic.info') %> (<%= link_to t('more.info') %>)
  <div class='upgrade_box'>
    upgrade to: <br/>
    <%= link_to t('account.power.label') %>( <%= t('account.power.cost') -%>)
    <%= t('account.power.info') %> ( <%= link_to t('more.info') %>)
  </div>
</div>
</div>
<p><%# link_to  my_or_user + ' General Preferences', edit_preference_path( @user ) %></p>
<p><%# link_to  my_or_user + ' Homepage Display Preferences', user_home_display_preferences_path( @user ) %></p>
<p><%# link_to  my_or_user + ' Homepage Cluster Groups', user_home_cluster_preferences_path( @user ) %></p>
<p><%# link_to  my_or_user + ' Source Preferences', user_source_preferences_path( @user ) %></p>
<p><%# link_to  my_or_user + ' Author Preferences', user_author_preferences_path( :user_id => @user, :scope => 'pref' ) %></p>
<p><%# link_to  my_or_user + ' Favorite Authors', user_author_preferences_path( :user_id => @user, :scope => 'fav' ) %></p>
<p><%# link_to  my_or_user + ' Topics', user_topic_preferences_path( @user ) %></p>
<p><%# link_to  my_or_user + ' Reading List', user_story_preferences_path( @user ) %></p>