


<div class='settings_news_block'>
<h2>	<span class="page_label"><%= t('navigation.top.settings') %> > <%= t('navigation.main.account_details') %> </span></h2>
<br>
<% form_for @user, :url => user_path(@user) do |f| %>
  <%= f.error_messages %>
  <% unless @user.third_party? %>
    <%= render :partial => 'jurnalo_user', :object => f %>
  <% else %>
    <%= render :partial => 'third_party_user', :object => f %>  
  <% end %>


  <%= f.submit "Update", :class => "confirmation_button" %>

<% end %>
</div>



