<div class='settings_news_block'>
  <h2><span class="page_label">Upgrade to Power Plan</span></h2>
  <div class = "about">
    <h2>Plan</h2>
    <%= t('account.power.label') %> (<%= t('account.power.cost') -%>)
  </div>
  <div class="about">
    <h2>Payment Method</h2>
    <%= image_tag( 'cnb.png', :title => "ClickandBuy bietet Ihnen weltweit sicheres und einfaches Bezahlen im Internet. Ob per Abbuchung von Ihrem Bankkonto, Kreditkarte oder ClickandBuy Guthaben: Wählen Sie einfach Ihr bevorzugtes Zahlungsmittel aus." ) %>
  </div>
  <div class="about">
    <p>You will pay <strong><%= t('account.power.cost') %></strong></p>
    <p>Click here to see our <%= link_to( 'billing policy', billing_policy_path )%></p>
  </div>
  <div class="aboout">
    <% form_for( @billing_record, :url => cnb_path(:action => :create) ) do |f| %>
      <%= f.hidden_field :plan_id  %>
      <%= f.submit 'Pay Now', :class => 'confirmation_button' %>
    <% end %>
  </div>
<div class='settings_news_block'> </div>
</div>