<div class='settings_news_block'>
  <h2><span class="page_label"><%= t('account.power.upgrade.label') -%></span></h2>
  <div class = "about">
    <h2>Plan</h2>
    <%= t('account.power.label') %> (<%= t('account.power.cost') -%>)
  </div>
  <div class="about">
    <h2><%= t('account.power.upgrade.method') -%></h2>
    <%= image_tag( 'cnb.png', :title => "ClickandBuy bietet Ihnen weltweit sicheres und einfaches Bezahlen im Internet. Ob per Abbuchung von Ihrem Bankkonto, Kreditkarte oder ClickandBuy Guthaben: Wählen Sie einfach Ihr bevorzugtes Zahlungsmittel aus." ) %>
  </div>
  <div class="about">
    <p><%= t('account.power.upgrade.pay') -%> <strong><%= t('account.power.cost') %></strong></p>
	<br><p><%= t('account.power.upgrade.sentence') -%></p>
  </div>
  <div class="about">
    <% form_for( @billing_record, :url => cnb_path(:action => :create) ) do |f| %>
      <%= f.hidden_field :plan_id  %>
      <%= f.submit t('account.power.upgrade.button'), :class => 'confirmation_button' %>
    <% end %>
  </div>
