<% form_id = "edit_preference_#{@user.id}" %>
<% content_for :custom_javascript do %>
  <%= observe_form( form_id, :function => "$('#{form_id}').submit();" ) %>
<% end %>
<div class='news_block'>
  <h2><%=t( 'navigation.main.alert_settings') %></h2>
</div>
<div class='news_block'>
  <% form_for(@preference, :url => preference_path( @user ), :html => { :method => :put, :class => "edit_preference", :id => form_id }  ) do |f| %>
    <div class='clearfix'>
      <div class='grid_1'>
        <%= f.label :topic_email, t('prefs.labels.topic_email') %>
      </div>
      <div class='grid_1'>
        <%= f.select :topic_email, Preference.for_select( :topic_email ) %>
      </div>
    </div>
    <div class='clearfix'>
      <div class='grid_1'>
        <%= f.label :author_email, t('prefs.labels.author_email') %>
      </div>
      <div class='grid_1'>
        <%= f.select :author_email, Preference.for_select( :author_email ) %>
      </div>
    </div>
    <%= hidden_field_tag( :return_to, request.url ) %>
  <% end %>
</div>