<% form_id = "edit_preference_#{@user.id}" %>
<% content_for :custom_javascript do %>
  <%= observe_form( form_id, :function => "$('#{form_id}').submit();" ) %>
<% end %>
<div class='settings_news_block'>
  <h2><span class = "page_label"><%= t('navigation.top.settings') %> > <%=t( 'navigation.main.search_and_sorting') %></span></h2>
</div>

<% form_for(@preference, :url => preference_path( @user ), :html => { :method => :put, :class => "edit_preference", :id => form_id }  ) do |f| %>

<div class = "about">  
	<div class = "adv_search_lines">
        
     	<span class = "rater"><%= f.select :default_sort_criteria, Preference.for_select( :default_sort_criteria ) %></span>
	<span>	<%= f.label :default_sort_criteria, t('prefs.labels.sort_criteria') %></span><br>
        
        <span class = "rater"><%= f.select :default_time_span, Preference.for_select( :default_time_span ) %></span>
       <span> <%= f.label :default_time_span, t('prefs.labels.time_span') %></span>
	</div>
  </div>

  <div class='thin_settings_news_block'>
	<div class = "about">  
		<div class = "adv_search_lines">

        
        <span class = "rater"><%= f.select :video, Preference.for_select( :video ) %></span>
		<span><%= f.label :video, t('prefs.labels.video_pref') %></span><br>
        
        <span class = "rater"><%= f.select :opinion, Preference.for_select( :opinion ) %></span>
		<span><%= f.label :opinion, t('prefs.labels.opinion_pref') %></span><br>
        
        <span class = "rater"><%= f.select :blog, Preference.for_select( :blog ) %></span>
   <span> <%= f.label :blog, t('prefs.labels.blog_pref') %></span>
	</div>
  </div>
  </div>
  <div class='thin_settings_news_block'>
	<div class = "about">  
		<div class = "adv_search_lines">
        <span class = "rater"><%= f.select :subscription_type, Preference.for_select( :subscription_type ) %></span>
      <span><%= f.label :subscription_type, t('prefs.labels.subscription_type') %></span>
	</div>
  </div>  
</div>


  <%= hidden_field_tag( :return_to, request.url ) %>
<% end %>