<%= f.error_messages %>
<div id = "topic_label">
  <span><%= t('topic.name') -%> </span>
  <span><%= f.text_field(:name, :id => "adv_searchfield" ) %></span>
</div>
<div class = "results_module"></div>
<%= t('search.advance.find.label') -%>
<div>
  <span><%= t('search.advance.find.at_least') -%></span>
  <span><%= f.text_field(:search_any, :id => "adv_searchfield") %></span>
</div>
<div>
  <span ><%= t('search.advance.find.all') -%></span>
  <span><%= f.text_field(:search_all, :id => "adv_searchfield") %></span>
</div>
<div>
  <span><%= t('search.advance.find.exact') -%></span>
  <span><%= f.text_field(:search_exact_phrase, :id => "adv_searchfield") %></span>
</div>
<div>
  <span><%= t('search.advance.find.without') -%></span>
  <span><%= f.text_field(:search_except, :id => "adv_searchfield") %></span>
  </div>
<div class = 'form_area'>
  <div> 
    <%= t('search.advance.sorting') -%>
    <span class='adv_search_menu'>
      <%= f.select( :sort_criteria, Preference.for_select(:sort_criteria), :include_blank => true ) %>
    </span>
  </div>
  <div>
    <%= t('search.advance.timespan') -%>	<span class='adv_search_menu'>
    <%= f.select( :time_span, Preference.for_select( :time_span), :include_blank => true ) %></span>
  </div>
</div>
<div class = "results_module"></div>
<%= t('search.advance.filter.label') -%>
<div>
  <%= t('search.advance.filter.source') -%>
  <span class='adv_search_menu'>
    <%= source_auto_complete_field( 'topic_preference', 'source_id', @topic_preference.source ) %>
  </span>
</div>
<div>
  <%= t('search.advance.filter.author') -%>
  <span class='adv_search_menu'>
    <%= author_auto_complete_field( 'topic_preference', 'author_id', @topic_preference.author ) %>
  </span>
</div>
<div class = 'form_area'>
  <div>
    <%= t('search.advance.filter.region') -%><span class='adv_search_menu'>
    <%= f.select( :region_id, Preference.for_select( :region_id ), :include_blank => true ) %></span>
  </div>
  <div>
    <%= t('search.advance.filter.category') -%><span class='adv_search_menu'>
    <%= f.select(:category_id, Preference.for_select( :category_id ), :include_blank => true ) %></span>
  </div>
  <div>
    <%= t('search.advance.filter.subscription') -%><span class='adv_search_menu'>
    <%= f.select( :subscription_type, Preference.for_select( :subscription_type), :include_blank => true ) %></span>
  </div>
</div>
<div class = "results_module"></div>
<%= t('search.advance.preferences.label') -%>
<div class = 'form_area'>
  <div>
    <%= t('search.advance.preferences.video') -%>
    <span><%= f.select(:video, Preference.for_select( :video ), :include_blank => true ) %></span>
  </div>
  <div>
    <%= t('search.advance.preferences.opinion') -%>
    <span><%= f.select(:opinion, Preference.for_select( :opinion ), :include_blank => true ) %></span>
  </div>
  <div>
    <%= t('search.advance.preferences.blog') -%>
    <span><%= f.select(:blog, Preference.for_select( :blog ), :include_blank => true ) %></span>
  </div>
</div>

<%= submit_tag( t('topic.action.add'), :class => "adv_searchbutton" ) %><br>