<%= f.error_messages %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :search_any, 'Query' %>
  <%= f.text_field :search_any %>
</p>
<p>
  <%= f.label :home_group, 'Show on My homepage?' %>
  <%= f.check_box :home_group %>
</p>