<h1><%= my_or_user %> Topics</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Query</th>
    <th>Filters</th>
  </tr>
  <% @topic_preferences.each do |tp| %>
  <tr>
    <td><%= tp.name %></td>
    <td><%= tp.story_search_hash[:string] %></td>
    <td><% tp.filters.each do |filter| %>
      <div><%= filter[:name] %>: <%= filter[:value] %></div>
      <% end %>
    </td>
    <td><%= link_to '&uarr;', user_topic_preference_path( :user_id => @user, :id => tp, :reorder => 'up' ), :method => :put, :title => 'Move Higher' %></td>
    <td><%= link_to '&darr;', user_topic_preference_path( :user_id => @user, :id => tp, :reorder => 'down' ), :method => :put, :title => 'Move Lower' %></td>
    <td><%= link_to '&uArr;', user_topic_preference_path( :user_id => @user, :id => tp, :reorder => 'top' ), :method => :put, :title => 'Move To Top' %></td>
    <td><%= link_to '&dArr;', user_topic_preference_path( :user_id => @user, :id => tp, :reorder => 'bottom' ), :method => :put, :title => 'Move To Bottom' %></td>
    <td><%= link_to 'Edit', edit_user_topic_preference_path( @user, tp ) %></td>
    <td><%= link_to 'Destroy', user_topic_preference_path( @user, tp ), :method => :delete, :confirm => 'Are you sure?'  %></td>
  </tr>
  <% end -%>
</table>


<br />
<%= will_paginate @topic_preferences %>
<br />
<%= link_to 'New Topic', new_user_topic_preference_path( @user ) %>
<br />
<% if @home_group %>
<%= link_to 'All Topics', user_topic_preferences_path( @user ) %>
<% else %>
<%= link_to 'Homepage Topics', user_topic_preferences_path( :user_id => @user.id, :home_group => '1' ) %>
<% end %>