<h1>New Topic</h1>

<div id="advance_form" style="<%= "display:none;" unless @advance %>">
  <% form_for @topic_preference, :url => user_topic_preferences_path( @user ) do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= f.submit 'Create' %> &nbsp;  <%= f.submit 'Test', :name => 'search' %>
    <%= form_pagination( @stories ) %>
  <% end %>
  <%= link_to_simple_form 'Simple Form' %>
</div>
<div id="simple_form" style="<%= "display:none;" if @advance %>">
  <% form_for @topic_preference, :url => user_topic_preferences_path( @user ) do |f| %>
    <%= render :partial => 'simple_form', :locals => { :f => f } %>
    <%= f.submit 'Create' %> &nbsp;  <%= f.submit 'Test', :name => 'search' %>
    <%= form_pagination( @stories ) %>
  <% end %>
  <%= link_to_advance_form 'Advance Form' %>
</div>
<br/>
<%= link_to 'Topic Index', user_topic_preferences_path( @user )  %><% if @stories %>
<div id="results">
  <%= render :partial => '/shared/stories' %>
</div>
<% end %>