<div class = "settings_news_block">
<h2><span class="page_label"><%= t('jurnalo.account_activation.label') %></span></h2>

<div class = "about">
<%= t('jurnalo.account_activation.instruction') %><br />
<br />
<% form_tag account_activation_path('update') do %>
  <div class="adv_search_lines">
    <div class="clear_fix">
      <%= text_field_tag 'id', "", :class => "settings_field_right" %>
      <label><%= t('jurnalo.account_activation.token') %>:</label>
    </div>
    <%= submit_tag t('jurnalo.account_activation.activate_button'), :class => "confirmation_button" %>
  </div>
<% end %>
<br />

<%= t('jurnalo.account_activation.send_instruction') %><br />
<br/>
<% form_tag account_activations_path do %>
  <div class="adv_search_lines">
    <div class="clear_fix">
      <%= text_field_tag "email", "", :class => "settings_field_right" %>
      <label><%= t('jurnalo.register.email') %>: </label>
    </div>
    <%= submit_tag t('jurnalo.account_activation.send_button'), :class => "confirmation_button" %>
  </div>
<% end %>
</div>
</div>