<% content_for :custom_javascript do %>
  <script type='text/javascript'>
    Event.observe($('prefs'), 'mouseover', showMouseOvers );
    Event.observe($('prefs'), 'mouseout', hideMouseOvers );
  </script>
<% end %>
<div class='news_block'>
	<div class = "reading_list_label">
<h2><span class="page_label"><%= t('navigation.top.settings') %> > <%= t('navigation.main.my_sources', :prefix => my_or_user) %></span></h2>
</div>
</div>

<% @source_preferences.each do | source_preference | %>
<div class='prefs my_authors_block'><h2>
  <div class = "listed_rater">
    <%= render_thumbs_rating_form( source_preference ) %>
  </div>
  <span><%= source_preference.source.name %></span> 
</h2></div>
<% end %>

<br />
<%= will_paginate @source_preferences %>